---
layout: index
title: Sobre
permalink: /about/
---
<div class="container mtb">
    <div class="row">
      <br></br>
      <br></br>
      <br></br>
        <ul class="nav nav-tabs" role="tablist">
          <br></br>
          <li role="presentation" class="active"><a href="#aboutus" class="btn btn-primary btn-lg active" role="tab" data-toggle="tab">Sobre nós</a></li>
          <li role="presentation"><a href="#whatwedo" class="btn btn-primary btn-lg active" role="tab" data-toggle="tab">O que fazemos</a></li>
          <li role="presentation"><a href="#team" class="btn btn-primary btn-lg active" role="tab" data-toggle="tab">Equipe</a></li>
          <li role="presentation"><a href="#press" class="btn btn-primary btn-lg active" role="tab" data-toggle="tab">Imprensa</a></li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="aboutus">
            <br></br>
            <h2 class="section-title"><b>Quem somos</b></h2>
            <form role="form">
              <p><h4>{% for line in site.about %}
                      {{ line }} </p>
                {% endfor %}</h4>
              </p><br></br>
            </form>
            {% include timeline.html %}
          </div>

          <div role="tabpanel" class="tab-pane active" id="whatwedo">
              <br></br>
              <h2 class="section-title"><b>O que fazemos</b></h2>
              <form role="form">
                <p><h4>{% for line in site.whatwedo %}
                        {{ line }} </p>
                  {% endfor %}</h4>
                </p><br></br>
              </form>
          </div>

          <div role="tabpanel" class="tab-pane" id="team">
            <br></br>
            <h2 class="section-title"><b>Nosso time</b></h2>
            <form role="form">
              <p><h4>{% for line in site.team %}
                      {{ line }} </p>
                {% endfor %}</h4>
              </p><br></br>
              {% include team.html %}
            </form>
          </div>

          <div role="tabpanel" class="tab-pane" id="press">
            <br></br>
            <h2 class="section-title"><b>Imprensa</b></h2>
            <form role="form">
              <p><h4>{% for line in site.press %}
                      {{ line }} </p>
                {% endfor %}</h4>
                {% include press.html %}
              </p><br></br>
              </form>
            </div>
        </div>
      </div>
  </div>
</div>
