---
layout: index
title: Contato
permalink: /contact/
---
<head>
  <style>
    #map {
      height: 400px;
      width: 100%;
     }
  </style>
</head>

<body>
    <div id="map"></div>
</body>

<div class="container mtb">
  <div class="row">
    <div class="col-lg-8">
      <br></br>
      <br></br>
      <br></br>
        <h2 class="section-title"><b>LabMet</b> contato</h2>
          <div class="hline"></div>
              <form role="form">
                <div class="form-group">
                  <label for="InputName1"><h6>Nome</h6></label>
                  <input type="email" class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group">
                  <label for="InputEmail1"><h6>Email</h6></label>
                  <input type="email" class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group">
                  <label for="InputSubject1"><h6>Título</h6></label>
                  <input type="email" class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group">
                  <label for="message1"><h6>Mensagem</h6></label>
                  <textarea class="form-control" id="message1" rows="3"></textarea>
                </div>
                  <button type="submit" class="btn btn-theme"><h6>Enviar</h6></button><br></br>
              </form>
    </div>
    <div class="col-lg-4">
      <br></br>
      <br></br>
      <br></br>
      <div class="hline"></div>
        <p>
          <h3><b>Endereço</b></h3>
            <h5>{% for line in site.address %}
                {{ line }} <br>
                  {% endfor %}</h5>
              </p>
          <h3><b>Telefones:</b></h3>
            <h5> {% for line in site.phone %}
                {{ line }} <br>
                  {% endfor %}</h5>
    </div>
    <br></br>
    <br></br>
  </div>
</div>
