<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{site.title}}{% if page.title %} - {{page.title}}{%endif%}</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="apple-touch-icon" href="{{ "/assets/img/apple-touch-icon.png"  | prepend:site.baseurl}}">
  <link rel="icon" href="{{ "/assets/img/favicon.ico"  | prepend:site.baseurl}}">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic'>
  <link rel='stylesheet' href="{{ "/assets/css/bootstrap.min.css"  | prepend:site.baseurl}}">
  <link rel='stylesheet' href="{{ "/assets/css/vendor.css"  | prepend:site.baseurl}}">
  <link rel='stylesheet' href="{{ "/assets/css/theme-1.css" | prepend:site.baseurl}}" id="theme">
  <link rel='stylesheet' href="{{ "/assets/css/custom.css"   | prepend:site.baseurl}}">
  <script src="{{ "/assets/js/modernizr-2.8.3.min.js"  | prepend:site.baseurl}}"></script>
  {% seo title=false %}
</head>
