<header id="siteHeader" class="site-header site-header-fixed-top">
  <nav id="siteNavbar" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle-icon navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon ti-layout-grid3-alt"></span>
        </button>

        <a class="navbar-brand" href="#">
          <img class="navbar-brand-media-light" src="{{"/assets/img/site-header-logo-light.png" | prepend:baseurl}}" alt="">
          <img class="navbar-brand-media-dark" src="{{"/assets/img/site-header-logo-dark.png" | prepend:baseurl}}" alt="">
        </a>
      </div> <!-- .navbar-header -->

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a data-smooth-scroll="true" href="#home">Home</a></li>
          <li><a data-smooth-scroll="true" href="#feature1">Features</a></li>
          <li><a data-smooth-scroll="true" href="#screenshot">Screenshot</a></li>
          <li><a data-smooth-scroll="true" href="#pricing">Pricing</a></li>
          <li><a data-smooth-scroll="true" href="#download">Download</a></li>
          <li><a data-smooth-scroll="true" href="#contact">Contact</a></li>
          <li><button class="navbar-btn btn btn-theme-2 popup-inline" type="button" data-mfp-src="#popupForm">Subscribe</button></li>
        </ul>
      </div> <!-- .navbar-collapse -->
    </div>
  </nav>
</header> <!-- .site-header -->
