<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
              <img class="row centered" src="{{"/imgs/index/labmet.png" | prepend:baseurl}}" alt="">
                <h4>Bárbara Panosso</h4><h4>EMBEDDED DEVELOPER</h4>
                <p>  </p>
            </div>
            <div class="col-md-4">
              <img class="row centered" src="{{"/imgs/index/labmet.png" | prepend:baseurl}}" alt="">
                <h4>João Trevizoli</h4><h4>                  CEO</h4>
                <p></p>
            </div>
            <div class="col-md-4">
              <img class="row centered" src="{{"/imgs/index/labmet.png" | prepend:baseurl}}" alt="">
                <h4>Murilo Ijanc'</h4><h4>SOFTWARE ENGINEER</h4>
                <p></p>
            </div>
        </div>
    </div>
</div>
